<div class="meetu-subpage-nav-wrapper">
	<div class="meetu-subpage-nav-control">
		<button class="meetu-subpage-nav-button meetu-subpage-nav-back" ng-click="back()" back>
			<span class="glyphicon glyphicon-chevron-left"></span>
		</button>
	</div>
	<div class="meetu-subpage-nav-control">
		<span class="meetu-subpage-nav-title">{{title}}</span>
	</div>
	<div class="meetu-subpage-nav-control">
		<button class="meetu-subpage-nav-button meetu-subpage-nav-commit" ng-click="commit()">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
	</div>
</div>
