<div class="meetu-subpage-nav-wrapper">
    <div class="meetu-subpage-nav-control">
        <div class="meetu-subpage-nav-button meetu-subpage-nav-back" ng-click="back()" back>
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
    </div>
    <div class="meetu-subpage-nav-control">
        <span class="meetu-subpage-nav-title"></span>
    </div>
    <div class="meetu-subpage-nav-control">
        <div class="meetu-subpage-nav-button meetu-subpage-nav-commit" ng-click="submit()">
            <span class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
</div>
