@import "variables.less";
@import "utilities.less";
@import "z-index.less";

.profile-subpage-wrapper{
    overflow: hidden;
    position: relative;
    color: @text-color-raven;
    box-sizing:border-box;

    .profile-main-container{
        width:851px;
        margin:auto;
        left:0px;
        right:0px;

        .profile-cover{
            min-height:180px;

            .profile-image-container{

                .profile-image-wrapper{
                    margin-top:20px;
                    margin-left:20px;
                    height:140px;
                    width:140px;
                    border-radius: 140px;
                    border:1px solid @splitter-color-medium;
                    overflow:hidden;
                }

                @media only screen and (max-width: 767px){
                    .profile-image-wrapper{
                        margin-left:auto;
                        margin-right:auto;
                        left:0;
                        right:0;
                    }

                }
            }

            .profile-info-container{
                margin-bottom:8px;
                .profile-info-block{
                    height:40px;
                }
                .profile-info-nickname{
                    font-size:@meetup-font-size-lg;
                    font-weight:bold;
                    height:24px;
                    line-height:24px;
                    vertical-align:middle;
                }
                .profile-info-brief{
                    font-size:@meetup-font-size-sm;
                    color:@text-color-asherstone;
                }

                @media only screen and (max-width:767px){
                    .profile-info-block{
                        display:none;
                    }
                }
            }

            @media only screen and (max-width:767px){
                .profile-info-container{
                     text-align:center;
                }
            }

           

        }
         .profile-menu{
            border-bottom:1px solid @splitter-color-medium;

            .profile-menu-block{

            }
            @media only screen and (max-width: 767px){
                .profile-menu-block{
                    display:none;
                }
            }
            .profile-menu-follows{
                .profile-menu-follow{
                    text-align:center;
                    border-right:1px solid @splitter-color-medium;
                    height:28px;
                    line-height:28px
                }
                .profile-menu-follow:last-child{
                    border-right:none;
                }
            }
        }

        .profile-content{
            .profile-content-main{
                border-right:1px solid #cccccc;
                min-height:300px;
                .profile-participated{
                    .participated-meetup{
                        border-bottom:1px solid @splitter-color-light;
                        padding-top:6px;
                        /*height:74px;*/
                        .meetup-title{
                            color:@color-coral;
                            /*font-weight:bold;*/
                        }
                    }

                    .participated-meetup:last-child{
                        border-bottom:none;
                    }
                }
                .profile-hosted{
                    .hosted-meetup{
                        border-bottom:1px solid @splitter-color-light;
                        padding-top:6px;
                        /*height:74px;*/
                        .meetup-title{
                            color:@color-coral;
                            /*font-weight:bold;*/
                        }
                    }

                    .hosted-meetup:last-child{
                        border-bottom:none;
                    }
                }
            }
        }

    }
    @media only screen and (max-width: 991px){
        .profile-main-container{
            width:750px;
        }
    }

    @media only screen and (max-width: 767px){
        .profile-main-container{
            width:100%;
        }
    }
    
}

.block{

}

@media only screen and (max-width: 767px){
    .block{
        display:none;
    }
}

.section{
    border-bottom:1px solid @splitter-color-medium;
    min-height:200px;
    padding: 6px 16px;
    .section-header{
        padding-left:14px;
        padding-right:6px;
        padding-top:4px;
        padding-bottom:4px;
        font-weight:bold;
        font-size:@meetup-font-size-md;
        .header-more{
            float:right;
        }
    }
    .section-body{
        padding-left:14px;
        padding-right:6px;
        padding-top:6px;
        padding-bottom:6px;
        font-size:@meetup-font-size-md;
    }
}
.section:last-child{
    border-bottom:none;
}


.text-light{
    color:@text-color-gray;
    font-weight:normal;
}

p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

a.link-normal{
    text-decoration:none;
    color:@color-coral;
    cursor:pointer;
}
a.link-normal:hover{
    color:@color-coral-darkest;
}

button.button-follow{
    border-radius:3px;
    border:none;
    background-color:@color-coral-lightest;
    color:@color-coral;
    padding-left:24px;
    padding-right:24px;
    height:24px;
    line-height:24px;
    /*font-weight:bold;*/
    font-size:@meetup-font-size-md;
}

button.button-follow:focus{
    outline:0;
}

button.button-follow:hover{
    /*background-color:@color-coral-lighter;*/
    
}

button.button-follow:active{
    background-color:@color-coral-lighter;
    /*color:white;*/
    /*border:1px solid @color-coral-light;*/
}
@media only screen and (max-width:395px){
    button.button-follow{
        padding:0px 8px;
    }
}