@import "variables.less";
@import "utilities.less";
@import "z-index.less";

.profile-subpage-wrapper{
    overflow: hidden;
    position: relative;
    color: @text-color-raven;
    box-sizing:border-box;
    .row{
        margin-left:0px !important;
        margin-right:0px !important;
    }

    .profile-main-container{
        max-width:851px;
        margin:auto;
        left:0px;
        right:0px;
        .profile-cover{
            background-color:white;
            min-height:200px;
            margin-bottom:8px;
            border:1px solid @splitter-color-light;
            padding:0px;
            .cover-image-container{
                height:200px;
                /*border:1px solid @splitter-color-dark;*/
                padding:0px 0px 0px 0px;
                .cover-image-frame{
                    height:150px;
                    width:150px;
                    border:1px solid white;
                    border-radius:100%;
                    margin-left:50px;
                    margin-top:25px;
                    /*background-color:@color-coral-lighterer;*/
                    .cover-image{
                        height:140px;
                        width:140px;
                        border-radius:100%;
                        overflow:hidden;
                        border:1px solid @splitter-color-light;
                        /*margin-top:30px;*/
                        margin-left:4px;
                        margin-top:4px;
                        /*.u-horizontal-alignment-center-relative();*/
                    }
                }
                .cover-follow{
                    padding-left:20px;
                    padding-right:20px;
                    .follower{
                        /*border-right:1px solid @splitter-color-light;*/
                        text-align:center;
                    }
                    .following{
                        text-align:center;
                    }
                }
            }
            .cover-info-container{
                /*border:1px solid @splitter-color-light;*/
                padding:0px;
                .info-block{
                    height:40px;
                    @media only screen and (max-width:767px){
                        display:none;
                    }
                }
                .info-name{
                    padding-left:10px;
                    font-size:@meetup-font-size-xl;
                    font-weight:bold;
                    height:30px;
                    line-height:30px;
                    vertical-align:middle;
                    .info-nickname{
                        float:left;
                    }
                    
                    .info-follow-button-wrapper{
                        height:26px;
                        /*width:80px;*/
                        /*border:1px solid @color-coral-lighter;*/
                        background-color:@color-coral-lighter;
                        border-radius:2px;
                        display:inline-block;
                        margin-left:20px;
                        .info-follow-button{
                            /*padding: 0px 10px;*/
                            background-color:@color-coral-light;
                            margin-top:4px;
                            height:19px;
                            line-height:22px;
                            margin-left:2px;
                            margin-right:2px;
                            padding:0px 8px;
                            border-radius:2px;
                            color:white;
                            font-weight:bold;
                            font-size:@meetup-font-size-md;
                        }
                    }
                }
                .info-brief{
                    padding:5px 0px 5px 10px;
                    color:@text-color-asher;
                }
                .info-follows{
                    padding-left:0px;
                    padding-right:0px;
                    margin-top:36px !important;
                    .info-follow{
                        float:right;
                        width:330px;
                        height:40px !important;
                        .follower{
                            padding:0px;
                            text-align:center;
                            border-right:1px solid @splitter-color-light;
                        }
                        .following{
                            padding:0px;
                            text-align:center;
                            border-right:1px solid @splitter-color-light;
                        }

                        .follow-txt{
                            color:@text-color-sterling;
                            font-size:@meetup-font-size-sm;
                        }
                        .follow-value{
                            color:@color-coral-light;
                            font-weight:bold;
                        }
                    }
                    margin-top:20px;

                }
            }

        }
        .profile-content{
            .profile-content-left{
                padding-left:0px;
                padding-right:4px;
                .content-main{
                    /*background-color:white;*/
                    /*border:1px solid @splitter-color-light;*/
                    /*min-height:300px;*/
                    /*padding:0px 20px;*/

                    .content-main-tabbar{
                        border-bottom:1px solid @splitter-color-medium;
                        height:35px;
                        background-color:transparent;
                        .tab{
                            color:@text-color-asherstone;
                            background-color:white;
                            font-size:@meetup-font-size-lg;
                            text-align:center;
                            height:36px;
                            line-height:28px;
                            font-weight:bold;
                            border-top:1px solid @splitter-color-medium;
                            border-left:1px solid @splitter-color-medium;
                        }
                        .tab:last-child{
                            border-right:1px solid @splitter-color-medium;
                        }
                        .tab-active{
                            border-bottom:1px solid white;
                        }
                        .tab-inactive{
                            border-bottom:1px solid @splitter-color-medium;
                            /*border-bottom:1px solid @splitter-color-medium;*/
                        }
                    }
                    .content-main-body{
                        background-color:white;
                        min-height:300px;
                        
                        .content-home-launch{
                            border:1px solid @splitter-color-medium;
                            /*margin-top:16px;
                            margin-bottom:16px;*/
                            .home-launch-title{
                                padding:4px 16px;
                                border-bottom:1px solid @splitter-color-medium;
                            }
                        }
                    }
                }
            }
            .profile-content-right{
                padding-left:4px;
                padding-right:0px;
                .content-side{
                    background-color:white;
                    border:1px solid @splitter-color-light;
                    min-height:100px;
                }
            }
        }
    }

 }

.block-xs{
    
}
.color-male{
    color:#33ccff;
    font-weight:bold;
}

.meetup-wrapper{
    border-bottom:1px dashed @splitter-color-dark;

    .meetup-entry{
        padding:10px 0px;

        .meetup-entry-brief{
            height: 64px;
            .meetup-entry-when{
                /*padding:0px 10px 0px 10px;*/
                .entry-when-wrapper{
                    border-radius:4px;
                    padding:0px;
                    /*background-color:@color-coral-lightest;*/
                    color:@text-color-asher;
                    /*text-align:center;*/
                    /*font-weight:bold;*/
                    .meetup-when-time{
                    }
                    .meetup-when-meridiem{
                        font-size:@meetup-font-size-xs;
                        text-decoration: underline;
                        /*font-weight:normal;*/
                    }
                    .meetup-when-weekday{
                    }
                }
            }


        }
    }
}

.meetup-wrapper:last-child{
    border-bottom:none;
}

