body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFE;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Below is added by Yue*/

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #d25f00;
    border-top: 1px solid rgba(210, 95, 0, 0.5);
}

.jumbotron {
    margin-bottom: 0px;
}

.small {
    font-size: 80%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.toShowWhereImagesToStore {
    background-image: url(Images/bg.jpg);
}
