@screen-xs-max: 480px;
@screen-xs-min: 320px;

/*Color*/
@main-background-color-light: #FFFFFE;
@main-background-color-dark: #FFF1E6;
@heading-background-color-dark: rgb(210, 95, 0);
@heading-background-color-light: #D78E52;
@base-color: #F8D2B3;
@nav-background-color: black;
@nav-background-color-alternated: #ff5050;
@card-border-color: #dddddd;

@login-form-backgroud: rgba(230,230,230,0.7);
@login-form-heading-backgroud: rgba(210, 95, 0,0.85);
@text-color-light: #FFFFFE;
@text-color-dark: rgb(210, 95, 0);

@color-coral-darkest:#c2571a;
@color-coral-darker:#DA621E;
@color-coral:#f26d21;
@color-coral-light:#f58b4c;
@color-coral-lighter:#ffe3cc;
@color-coral-lightest:#fff1e6;

@text-color-jet:#131516;
@text-color-raven:#373d3f;
@text-color-asher:#555f61;
@text-color-asherstone:#6f7c80;
@text-color-stone:#707c80;
@text-color-gray:#8c979a;
@text-color-sterling:#a7b0b2;

@input-box-shadow: rgba(210, 95, 0, .6);

@splitter-color-dark:#ccc;
@splitter-color-medium:#ddd;
@splitter-color-light:#eee;

/*Padding*/
@padding-base: 12px;
@separator-margin: @padding-base;

/*Font*/
@meetup-font-size-xs: 10px;
@meetup-font-size-sm: 11px;
@meetup-font-size-md: 12px;
@meetup-font-size-lg: 14px;
@meetup-font-size-xl: 16px;
@login-heading-font-size: 24px;
@profile-menu-font-size: 18px;

/*Width*/
@max-width-for-phone: 414px;
@min-width-for-phone: 320px;

/*Height*/
@nav-height: 50px;

/*Form Control*/
@login-form-control-height: 40px;
