@{
    ViewBag.Title = "for Design and Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-primary">
    for Design and Test
</h2>

<div class="toShowWhereImagesToStore">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>