@{
    ViewBag.Title = "Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Check if Less works</h4>
 <p class="less_hello_world">
     this line should be blue.
 </p>
<br />
<p class="less_hello_world_foo">
    @@the-font-size: 1% * 200 -> 200%;
</p>