<div ng-controller="MeetupCreateController as meetupCreating">
    <subpage-nav hassubmit="true"  on-submit="meetupCreating.submitForm()" title="'Create a Meetup'"></subpage-nav>
    <form class="form-vertical meetup-create-form meetu-form" name="meetupCreateForm" novalidate>
        <div class="meetup-subpage-validation"></div>
        <div class="form-group meetup-form-group" mu-validation>
            <label for="meetup-create-title" class="control-label col-md-2 meetu-input-label">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input" id="meetup-create-title" name="title"
                       placeholder="Party, BBQ, Hiking..." ng-model="meetupCreating.createParams.title" ng-required="true"
                       ng-maxlength="200" ng-pattern="/^(([^\^\.<>%&',;=?$:#@!~\]\[{}\\/`\|])*)$/"/>
                <span class="help-block"
                      ng-if="meetupCreateForm.title.$error.required">Title is required!</span>
                <span class="help-block"
                      ng-if="meetupCreateForm.title.$error.maxlength">Title must under 200 words!</span>
                <span class="help-block"
                      ng-if="meetupCreateForm.title.$error.pattern">Title can't have special characters!</span>
            </div>
        </div>
        <div class="form-group meetup-form-group"  mu-validation>
            <label for="meetup-create-description" class="control-label col-md-2 meetu-input-label">Description</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input" id="meetup-create-description" name="description"
                       placeholder="Make it attractive!" ng-model="meetupCreating.createParams.description" ng-required="true" 
                       ng-maxlength="1000" ng-pattern="/^(([^\^\.<>%&',;=?$:#@!~\]\[{}\\/`\|])*)$/">
                <span class="help-block"
                      ng-if="meetupCreateForm.description.$error.required">Description is required!</span>
                <span class="help-block"
                      ng-if="meetupCreateForm.description.$error.maxlength">Description must under 1000 words!</span>
                <span class="help-block"
                      ng-if="meetupCreateForm.description.$error.pattern">Description can only have letter(a-z A-Z),numbers,comma,period and exclamation:</span>
            </div>
        </div>

        <div class="form-group meetup-form-group" mu-validation>
            <label for="meetup-create-time" class="control-label col-md-2 meetu-input-label">When</label>
            <div class="col-md-10">
                <input class="form-control meetu-input" type="text" datetimepicker datetimepicker-options="{locale:'en-nz',format:'YYYY.MM.DD HH:mm'}" ng-model="meetupCreating.createParams.when"
                       id="meetup-create-when" name="when" placeholder="Select your time" ng-required="true"/>
                <span class="help-block"
                      ng-if="meetupCreateForm.where.$error.required">Time is required!</span>
            </div>
        </div>

        <div class="form-group meetup-form-group" mu-validation>
            <label for="meetup-create-where" class="control-label col-md-2 meetu-input-label">Where</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input js-meetup-create-where" id="meetup-create-where"
                       name="where" placeholder="Enter the location"
                       googleplace ng-model="meetupCreating.createParams.where" ng-required="true" />
                <span class="help-block"
                      ng-if="meetupCreateForm.where.$error.required">Location is required!</span>
            </div>
        </div>
    </form>
</div>
