<div ng-controller="MeetupEditController as meetupEditing">
    <subpage-nav hassubmit="true" on-submit="meetupEditing.submitForm()" title="'Edit Meetup'"></subpage-nav>
    <form class="form-vertical meetup-edit-form meetu-form" name="meetupEditForm" novalidate>
        <div class="meetup-subpage-validation"></div>
        <div class="form-group meetup-form-group" my-validation>
            <label for="meetup-edit-title" class="control-label col-md-2 meetu-input-label">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input" id="meetup-edit-title" name="title"
                       placeholder="Party, BBQ, Hiking..." ng-model="meetupEditing.editParams.title" ng-required="true"
                       ng-maxlength="200" ng-pattern="/^(([^\^\.<>%&',;=?$:#@!~\]\[{}\\/`\|])*)$/"/>
                <span class="help-block"
                      ng-if="meetupEditForm.title.$error.required">Title is required!</span>
                <span class="help-block"
                      ng-if="meetupEditForm.title.$error.maxlength">Title must under 200 words!</span>
                <span class="help-block"
                      ng-if="meetupEditForm.title.$error.pattern">Title can't have special characters!</span>
            </div>
        </div>
        <div class="form-group meetup-form-group" my-validation>
            <label for="meetup-edit-description" class="control-label col-md-2 meetu-input-label">Description</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input" id="meetup-edit-description" name="description"
                       placeholder="Make it attractive!" ng-model="meetupEditing.editParams.description" ng-required="true"
                       ng-maxlength="1000" ng-pattern="/^(([^\^\.<>%&',;=?$:#@!~\]\[{}\\/`\|])*)$/"/>
                <span class="help-block"
                      ng-if="meetupEditForm.description.$error.required">Description is required!</span>
                <span class="help-block"
                      ng-if="meetupEditForm.description.$error.maxlength">Description must under 1000 words!</span>
                <span class="help-block"
                      ng-if="meetupEditForm.description.$error.pattern">Description can only have letter(a-z A-Z),numbers,comma,period and exclamation:</span>
            </div>
        </div>

        <div class="form-group meetup-form-group" my-validation>
            <label for="meetup-edit-time" class="control-label col-md-2 meetu-input-label">When</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input js-meetup-edit-when" id="meetup-edit-time"
                       name="when" placeholder="Select your time"
                       datetimepicker datetimepicker-options="{locale:'en-nz',format:'YYYY.MM.DD HH:mm'}" ng-model="meetupEditing.editParams.when" ng-required="true"/>
                <span class="help-block"
                      ng-if="meetupEditForm.when.$error.required">Time is required!</span>
            </div>
        </div>

        <div class="form-group meetup-form-group" my-validation>
            <label for="meetup-edit-where" class="control-label col-md-2 meetu-input-label">Where</label>
            <div class="col-md-10">
                <input type="text" class="form-control meetu-input js-meetup-edit-where" id="meetup-create-where"
                       name="where" placeholder="Enter the location"
                       googleplace ng-model="meetupEditing.editParams.where" ng-required="true" />
                <span class="help-block"
                      ng-if="meetupEditForm.where.$error.required">Location is required!</span>
            </div>
        </div>
    </form>
</div>