@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meet.U</h1>
    <p class="lead">
        That time of year thou mayst in me behold,<br>
        When yellow leaves, or none, or few, do hang
        Upon those boughs which shake against the cold.
    </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Jane Austen (/ˈdʒeɪn ˈɒstɪn/; 16 December 1775 – 18 July 1817) was an English novelist
            whose works of romantic fiction, set among the landed gentry, earned her a place as one
            of the most widely read writers.
        </p>
        <p>
            @Html.ActionLink("Learn more", "Index", "Home", new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more</h2>
        <p>Austen lived her entire life as part of a close-knit family located on the lower fringes of the English landed gentry.[2] She was educated primarily by her father and older brothers as well as through her own reading. </p>
        <p>
            @Html.ActionLink("Learn more", "Index", "Home", new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Meet up</h2>
        <p>From her teenage years into her thirties she experimented with various literary forms, including an epistolary novel which she then abandoned, wrote and extensively revised three major novels and began a fourth.</p>
        <p>
            @Html.ActionLink("Learn more", "Index", "Home", new { @class = "btn btn-default" })
        </p>
    </div>
</div>