@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-app="meetupModule">
    <div ng-view>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/Minify_scripts/vender.js")
    @Scripts.Render("http://maps.googleapis.com/maps/api/js?libraries=places")
    @Scripts.Render("~/Scripts/Minify_scripts/all.js")
}