@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="meetu" ng-cloak>
    <br />

    <div class="col-md-1">
    </div>

    <div class="col-md-8" ng-controller="indexController">
        <div ng-repeat="meetup in meetups">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-info">22</button>
                        <button type="button" class="btn btn-success">15</button>
                    </div>
                </div>
                <div class="panel-body">
                    <span class="text-capitalize text-primary" href="#">
                        &nbsp;&nbsp;&nbsp;{{meetup.title}}
                        <a class="btn btn-toolbar btn-xs" href="" ng-click="showDetails = ! showDetails">
                            <span class="glyphicon glyphicon-menu-down" ng-show="! showDetails"></span>
                            <span class="glyphicon glyphicon-menu-up" ng-show="showDetails"></span>
                        </a>
                    </span>
                    <p class="jumbotron" ng-show="showDetails">
                        {{meetup.description}}
                    </p>
                </div>
            </div>
        </div>
        <pre>{{meetups | json}}</pre>
    </div>
    <div class="col-md-offset-3">
        <p>
            <a class="btn btn-success" href='@Url.Action("Create")'><span class="glyphicon glyphicon-plus"></span> New Meetup </a>
        </p>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/meetu.js")
}