@model IEnumerable<MeetU.Models.Meetup>

@{
    ViewBag.Title = "Meetups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-cloak ng-app="meetuApp">
    <br /><div class="col-md-1"></div>

    <div class="col-md-8" ng-controller="meetupIndexController">
        <div ng-repeat="meetupView in meetupViews">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-info" ng-click="toggleJoin(meetupView)">
                            <span> {{isIn(meetupView.joins) ? 'unjoin' : 'join'}} </span>
                        </button>
                        <button type="button" class="btn btn-success">
                            <span> {{ meetupView.joins.length }} </span>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <span class="text-primary" href="#">
                        <a class="btn btn-toolbar btn-xs" href="" ng-click="showDetails = ! showDetails">
                            <span class="glyphicon glyphicon-menu-down" ng-show="! showDetails"></span>
                            <span class="glyphicon glyphicon-menu-up" ng-show="showDetails"></span>
                        </a>
                        &nbsp;&nbsp;&nbsp; <span class="text-capitalize"> {{ meetupView.meetup.title }}</span> | {{ meetupView.sponsorUserName }}
                    </span>
                    <div ng-show="showDetails">
                        <hr />
                        <p class="jumbotron">
                            {{ meetupView.meetup.description }} <span class="text-justify"> |  {{ meetupView.sponsorUserName }} {{ meetupView.meetup.date | date:'dd-MM-yyyy' }}</span>
                            <br /><br />
                            <span class="label label-default">When</span>
                            {{ meetupView.meetup.when |  date: "HH:mm" }} {{ meetupView.meetup.date | date:'dd-MM-yyyy' }}
                            <br />
                            <span class="label label-default">Where</span>
                            {{meetupView.meetup.where}}
                        </p>
                        <hr />
                        <div ng-repeat="cv in allCommentViews | filter : { meetupId : meetupView.meetup.id }">
                            <p class="small">
                                {{ cv.content }}&nbsp;&nbsp;&nbsp;<span class="text-primary">{{ cv.by }}&nbsp;{{ cv.at | date: 'dd-MM-yyyy' }}</span>
                            </p>
                            <hr />
                        </div>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" style="max-width:100%" placeholder="How about you?" ng-model="meetupView.newComment">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-sm" type="button" ng-click="addComment(meetupView)" >Comment</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*for testing*@
        @*<pre>{{ meetupViews | json }}</pre>*@
        <hr />
        @*<pre>{{ allCommentViews | json }}</pre>*@
        @*for testing*@
    </div>
    <div class="col-md-offset-3">
        <p>
            <a class="btn btn-success" href='@Url.Action("Create")'><span class="glyphicon glyphicon-plus"></span> New Meetup </a>
        </p>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/app.js")
}