@model MeetU.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<br />

<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-7">

    </div>

    <div class="col-md-3 text-center">

        <div class="panel panel-default" style="max-width: 100%">
            <div class="panel-heading" style="text-align:left">Edit Public Profile</div>
            <div class="panel-body">
                <img src="//placehold.it/150" class="avatar img-circle" alt="avatar">
                <br /><br />
                <button class="btn btn-info">New picture</button>
                <br />
                <hr style="margin-top:20px; margin-bottom:20px"/>
                <input type="text" class="form-control" style="max-width:100%" placeholder="New nick name?">
                <br />
                <button class="btn btn-info">Update nick name </button>
                <br />
            </div>
        </div>

    </div>

    <div class="col-md-1"></div>
</div>
@*</div>*@

