@model MeetU.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<br />

<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-4 text-center">

        <div class="panel panel-default" style="max-width: 100%">
            <div class="panel-heading" style="text-align:left">Public Profile</div>
            <div class="panel-body">
                <img src="//placehold.it/180" class="avatar img-circle" alt="avatar">
                <br /><br />
                <button class="btn btn-info btn-sm">New picture</button>
                <br />
                <hr style="margin-top:20px; margin-bottom:20px" />
                <h2>Yue.Wang</h2>
                <h4>
                    No.
                    <span style="color:aliceblue; background-color:#5cb85c; font-size:14px; padding:4px; border-radius:4px;">11</span>
                </h4>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" style="max-width:100%" placeholder="New nick name?">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Update</button>
                    </span>
                </div><!-- /input-group -->
                <br />
            </div>
        </div>

    </div>

    <div class="col-md-1"></div>
</div>
@*</div>*@

